@font-face {
    font-family: "SetoFont";
    src: url("setofont.eot"); /* IE9 */
    src: url("setofont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("setofont.woff") format("woff"), /* chrome, firefox */
    url("setofont.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("setofont.svg#SetoFont") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


